{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<h1>Tech blog</h1>
<p>Latest articles about IT and development.</p>
{% endblock %}
{% for post in posts %}
            <acrticle>
                <h3>{{ post.title }}</h3>
                <a href="{{path('app_post_show', {'id': post.id})}}">Lire la suite </a>
                
                
            </article>
        {% endfor %}
    </section>

{% endblock %}
